<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Surya Vasudev</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="static/css/main.css">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Surya Vasudev</h1>
						<p>Computer Engineer &nbsp;•&nbsp; Programmer &nbsp;•&nbsp; Tech Enthusiast</p>
						<nav>
							<ul>
								<li><a href="https://x.com/UnknownCrafts_" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<!-- <li><a href="" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li> -->
								<!-- <li><a href="" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li> -->
								<li><a href="https://github.com/UnknownCrafts" class="icon brands fa-github"><span class="label">Github</span></a></li>
								<!-- <li><a href="" class="icon solid fa-envelope"><span class="label">Email</span></a></li> -->
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">© Surya Vasudev.</span>
					</footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	
<script>(function() {
  if (navigator.userAgent.match(/(iPad|iPhone|iPod)/g) && window.self !== window.top) {
    var body = document.body, f = function() {
      body.style.width = window.top.innerWidth + 'px';
      body.style.height = window.top.innerHeight + 'px';
    };
    window.addEventListener('load', f);
    window.addEventListener('orientationchange', f);
    window.addEventListener('resize', f);
  }
})();
</script>

</body></html>